<app-header-nav></app-header-nav>
<div class="container mt-4">
  <div class="row">
    <div class="col">
      <h2>Bienvenido a un pequeño examen de QA o Testing de sitios</h2>
      <p class="mb-0">Este sitio cuenta con varios detalles de funcionamiento asi como visules los cuales tienen que ser <i>revisados</i> y anotados</p>
      <p class="mt-1">Se tiene que enviar todos los comentarios cuando se crea que se encontraron todos los detalles</p>
      <p>esperamos tus comentarios</p>
    </div>
    <div class="col">
      <h4>En la parte superior existen diversos apartados para la prueba</h4>
      <p class="fs-6">👆🏿 prueba la navegacion y mas opciones</p>
      <strong> -</strong>
    </div>
  </div>
</div>
<!-- <p>home works!</p> -->
